body {
  background-image: url(./Presentation1.png);
}

#h301 {
  color: yellow;
  clear: none;
}

p {
  color: white;
  clear: none;
}

#div1 {
  width: 300px;
}

#tb00 {
  border: 2px solid white;
  width: 100%;
}

#tb01 {
  border: 2px solid blue;
  float: right;
  width: 230px;
}

#tb02 {
  border: 2px solid blue;
  margin: 0 auto;
}

#ct01 {
  color: white;
  font-size: 17px;
}

#ct02 {
  color: yellow;
  font-size: 20px;
}

#ct03 {
  color: white;
  font-size: 17px;
}

td {
  color: white;
}

#td01 {
  text-align: center;
}

#td02 {
  text-align: center;
  color: yellow;
}

#td03 {
  border: 2px solid lime;
  text-align: center;
  height: 22px;
  color: white;
}

#td031 {
  border: 2px solid lime;
  text-align: center;
  height: 22px;
  color: blue;
  font-weight: bold;
}

#td032 {
  border: 2px solid lime;
  text-align: center;
  height: 22px;
  color: blue;
  font-weight: bold;
}

#td04 {
  border: 2px solid black;
  text-align: center;
  height: 22px;
  color: red;
}

#td05 {
  border: none;
  text-align: center;
  background-color: navy;
  height: 22px;
  width: 150px;
}

#td06 {
  border: none;
  text-align: center;
  background-color: black;
  height: 22px;
}

#td07 {
  border: 2px solid blue;
  text-align: center;
  color: navy;
  font-size: 17px;
  background-color: white;
  height: 26px;
}

#td08 {
  border: none;
  background-color: navy;
  text-align: center;
  width: 80px;
  height: 24px;
  color: white;
}

#td09 {
  border: 2px solid white;
  background-color: black;
  text-align: center;
  width: 120px;
  height: 24px;
  color: lime;
}

#td10 {
  text-align: right;
}

#td11 {
  text-align: center;
  border: 2px solid lime;
  width: 150px;
  color: white;
}

#td090 {
  background-color: black;
}

#td091 {
  background-color: black;
}

#td092 {
  background-color: black;
}

#td093 {
  background-color: black;
}

#td094 {
  background-color: black;
}

#td095 {
  background-color: black;
}

#td096 {
  background-color: black;
}

#th01 {
  font-weight: bold;
  color: yellow;
  text-align: center;
}

.QR-code {
  display: none;
}

.QR-code em {
  margin: 10px 0px;
}

.download:hover .QR-code {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 20;
}

.download {
  width: fit-content;
  z-index: 20;
  position: absolute;
}

.spin {
  background-color: rgba(0, 0, 0, 0.7);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.spin p {
  font-size: 30px;
  text-align: center;
  margin-bottom: 0;
  font-weight: 600;
}

.loading {
  top: 50%;
  position: relative;
  transform: translate(0, -50%);
}

.spinner {
  z-index: 10;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 20px solid #9e9e9e00;
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  animation: spin 2s linear infinite;

}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg);
  }
}