html {
    font-size: 10px;
}

body {
    padding: 0;
    margin: 0;
    background: url(./image/1.png);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "header header header header""main main main main";
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: auto;
}

.header {
    grid-area: header;
    height: 80px;
    width: auto;
    display: grid;
    grid-template-rows: auto;
    background: rgb(68, 68, 75);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo1 noidung noidung noidung logo2";
}

.logo1 {
    grid-area: logo1;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;

}

.logo2 {
    /* background: lime; */
    grid-area: logo2;
    text-align: center;
    display: flex;
    align-items: center;
    margin: auto;
}

.noidung {
    grid-area: noidung;
    text-align: center;
    /* font-size: 30px; */
    line-height: 80px;
    padding: 0;
    color: #fff;
    margin: 0;
}

.noidung h2 {
    margin: 0;
    padding: 0;
    line-height: 80px;
}

.main {
    margin-top: 15px;
    display: grid;
    grid-area: main;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "hienthi bieudo";

    grid-column-gap: 15px;
    height: auto;
}

.card1 {
    grid-area: thoigian;
}

.suatlieu {
    grid-area: suatlieu;
}

.nhietdo {
    grid-area: nhietdo;
}

.doam {
    grid-area: doam;
}

.bui {
    grid-area: bui;
}

.co {
    grid-area: co;
}

.ch4 {
    grid-area: ch4;
}

.main .hienthi {
    background: rgb(15, 15, 15);
    grid-area: hienthi;
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "thoigian thoigian thoigian""suatlieu nhietdo doam""bui co ch4";
}

.main .hienthi .card {
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
    background: linear-gradient(0deg, #1b1b1b, #222, #1b1b1b);
    border-radius: 7px;
    height: 100px;
    width: auto;
    margin: 20px;
    color: ivory;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

.main .hienthi .card .texttime {
    font-size: 30px;
}

.main .hienthi .card .text {
    margin: 10px 0 0 0;
}

.thoigian1 {
    color: ivory;
    text-align: center;
    line-height: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.main .bieudo {
    background: rgb(15, 15, 15);
    grid-area: bieudo;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.main .bieudo .text1 {
    color: ivory;
}

.main .text {
    font-size: 18px;
}

.main .bieudo .groupbtn {
    margin: 50px 0 0 0;
}

.main .bieudo h3 {
    color: ivory;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chart1 {
    margin: 3rem auto;
    height: 30rem;
    width: 90%;

}

/* responsive  */



@media only screen and (max-width: 1200px) {
    .main {
        margin-top: 15px;
        display: grid;
        grid-area: main;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas: "hienthi""bieudo";

        grid-column-gap: 15px;
    }

    .main .hienthi {
        background: rgb(15, 15, 15);
        grid-area: hienthi;
        display: grid;
        height: auto;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "thoigian thoigian ""suatlieu nhietdo""doam bui""co ch4";
    }

    .noidung h2 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 1100px) {
    .noidung h2 {
        font-size: 20px;
    }
}




@media only screen and (max-width: 768px) {
    .header {
        grid-area: header;
        width: auto;
        display: grid;
        grid-template-rows: auto;
        background: rgb(68, 68, 75);
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "logo1 noidung noidung noidung";
    }

    .logo2 {
        display: none;
    }

    .logo1 img {
        width: 75%;
        /* height: 80%; */
        align-items: center;
        text-align: center;
        margin: auto;
    }

    .main .hienthi .card {
        height: auto;
    }
}



@media only screen and (max-width: 550px) {

    .noidung h2 {
        font-size: 11px;
    }

    .main .hienthi {
        background: rgb(15, 15, 15);
        grid-area: hienthi;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "thoigian thoigian ""suatlieu nhietdo""doam bui""co ch4";
    }

    #chart1 {
        margin: 3rem auto;
        height: 23rem;
        width: 90%;
    }
}

@media only screen and (max-width: 380px) {
    .noidung h2 {
        font-size: 9px;
    }
}